{%- if site.footer_content -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
{%- endif -%}
<script>
  function modeSwitcher() {
    let theme = sessionStorage.getItem('theme');
    if (theme === "dark") {
        jtd.setTheme('light');
        sessionStorage.setItem('theme', 'light');
        document.getElementById("theme-toggle").innerHTML = "Dark Mode";
    } else {
        jtd.setTheme('custom');
        sessionStorage.setItem('theme', 'dark');
        document.getElementById("theme-toggle").innerHTML = "Light Mode";
    }
  }

  function setCookieForCheckbox(checkbox) {
      var date = new Date();
      date.setTime(date.getTime() + (30 * 24 * 60 * 60 * 1000));
      var expires = "; expires=" + date.toGMTString();

      let value = readCheckBoxValues();
      value[checkbox.id] = checkbox.checked;

      document.cookie = "acnh_beginners=" + value + expires + ";path=/";

      alert("acnh cookie - current checkboxes set " + JSON.stringify(readCookie("acnh_beginners")));
  }

  function readCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') c = c.substring(1, c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
      }
      return null;
  }

  function readCheckBoxValues() {
    let checkBoxes = {};
    var inputs = document.getElementsByTagName("input");
    for(var i = 0; i < inputs.length; i++) {
      if(inputs[i].id.indexOf('chk-') == 0) {
          checkBoxes[inputs[i].id] = inputs[i].checked;
      }
    }
    return checkBoxes;
  }

  let currentCheckBoxes = readCookie("acnh_beginners");
  if(currentCheckBoxes) {
    alert("acnh cookie - "+JSON.stringify(currentCheckBoxes));
  }

</script>
